<h1>Add a new Cat</h1>
<form action="<%= cats_url %>" method="post">
  <label for="name"
    >Name:
    <input id="name" type="text" name="cat[name]" value=<%= @cat.name %> >
  <br>

  </label>
    <input id="sex_male" type="radio" name="cat[sex]" value="M" 
    <%= @cat.sex == "M" ? "checked" : "" %>>
    <label for= "sex_male">Male</label>
    <input id="sex_female" type="radio" name="cat[sex]" value="F" 
    <%= @cat.sex == "F" ? "checked" : "" %>>
    <label for= "sex_female">Female</label>

  <br>

  <label for="color">Color:</label>
  <select id="color" name="cat[color]">
    <option disabled selected>'--select a color--'</option>
     <% Cat::COLORS.each do |color| %>
    <option value="<%= color %>" <%= @cat.color == color ? "selected" : "" %>> <%= color %> </option>
    <% end %>
  </select>

  <br>

  <label for="birth_date">Birth Date:</label>
    <input id="birth_date" type="date" name="cat[birth_date]" value=<%= @cat.birth_date %>>
<br><br>
<label for="description">Description:</label>
<textarea name="cat[description]" <%= @cat.description %>></textarea>
<br>
<input type="submit" value="Create new Cat">
</form>


